{% extends "base.html" %}

{% block content %}
<section class="pt100 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="contact col-md-6">
                <div class="custom-page-title mb90">
                    <h3>Masuk ke akun anda</h3>
                </div>
                <div id="message">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message | safe }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {{ alert | safe }}
                <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->
                <form method="post" name="loginform" id="loginform">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email" type="email" id="email" placeholder="Your Email*"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input name="password" type="password" id="password" placeholder="Your Password*"/>
                    </div>
                    <div class="form-group">
                        <input class="custom-checkbox" type="checkbox" id="rememberme" name="remember"/>
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <input type="submit" class="btn btn-dark btn-fullwidth" id="submit" value="Login" />
                </form>
                <button class="btn btn-dark btn-fullwidth" id="googleSigninButton">Sign In With Google</button>
                <div id="result"></div>
            </div>
        </div>
    </div>
</section>

<script>
  $('#googleSigninButton').click(function() {


    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
  });
</script>

<script>
function signInCallback(json) {
  console.log('inside callback fuction');
  console.log(json);
    //authResult = JSON.parse(json);
  authResult = json;
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized, for example:
    $('#googleSigninButton').attr('style', 'display: none');
      $('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '')
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/oauth/google',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>')
          location.href = '/'
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    });
  }
}
</script>

<script>
    var auth2;
    gapi.load('auth2', function() {
        auth2 = gapi.auth2.init();
    });
    function onSignIn() {
        var profile = auth2.currentUser.get().getBasicProfile();
        console.log('User logged in.');
        console.log('ID:', profile.getId());
        console.log('Name:', profile.getName());
        console.log('Image URL:', profile.getImageUrl());
        console.log('Email:', profile.getEmail());
    } -->
</script>
<!--END GOOGLE SIGN IN CODE -->
{% endblock %}